@import "tailwindcss";

body{

margin:0;

font-family:
Tahoma,
sans-serif;

background:

linear-gradient(
180deg,
#6ea3d7,
#4f82bd
);

min-height:100vh;

overflow:hidden;

}

*{

box-sizing:border-box;

}